{% extends 'base.html' %}
{% block title %}
<title>Register</title>
 {% endblock %}

{% block content%}
{% load crispy_forms_tags %}

<!-- register-->
<form action="" method="post">
	{% csrf_token %}
	 <fieldset class="form-group">
		 <legend class="text-center">Register</legend>
		 {{ form|crispy }}
	 </fieldset>
	  <p>Already have an account? <a class="location" href="{% url 'login' %}">Login</a></p>
	 <div class="form-group">
		  <button class="btn btn-primary" style="width: 100%">Register</button>
	 </div>
 </form>



{% endblock %}